div {
    padding-top: 15px;
    border: solid 2px;
    width: 600px;

}

h1 {
    color: green;
    text-transform: uppercase;
    text-align: center;
}

p {

    text-align: justify;
    text-indent: 30px;

}

a {

    text-decoration: none;

}